.primary-color {
  color: #2196f3;
}

.carousel-inner {
  margin: auto;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: fit-content;
  background-color: #2196f3;
  color: white;
  text-align: center;
}
