@font-face {
  font-family: "panton";
  src: local("MyFont"), url(./fonts/PantonRustHeavy-GrSh.woff) format("woff");
}

@font-face {
  font-family: "pantonBold";
  src: local("MyFont"), url(./fonts/PantonRustScrSmBold-Gr.woff) format("woff");
}

body {
  font-family: "panton";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
